.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid gray;
  box-shadow: 5px 10px #888888;
  line-height: 2rem;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  background-image: linear-gradient(
    to bottom,
    rgb(31, 31, 31) 6%,
    rgb(115, 115, 115) 135%,
    rgb(151, 150, 150)
  );
}

.card-code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid gray;
  box-shadow: 5px 10px #888888;
  line-height: 2rem;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  background-image: linear-gradient(
    to bottom,
    rgb(31, 31, 31) 6%,
    rgb(115, 115, 115) 135%,
    rgb(151, 150, 150)
  );
}

.card-header {
  background-image: linear-gradient(
    to bottom,
    rgb(65, 4, 4),
    rgb(160, 19, 1),
    rgb(255, 0, 0)
  );
  display: flex;
  width: 100%;
  margin: 0px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: rgb(255, 214, 10);
  text-shadow: 2px 3px 3px black;
}

.list-items {
  text-align: left;
  color: rgb(31, 206, 28);
  width: 65%;
  font-size: 20px;
  line-height: 1.2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.8rem;
  margin-bottom: 12px;
}

.list-code {
  list-style-type: lower-roman;
  margin-left: 4rem;
  margin-top: 1rem;
  margin-bottom: 5px;
}

.emphasis {
  color: rgb(242, 194, 2);
  font-weight: bolder;
  font-size: 21px;
  font-style: italic;
}

.code {
  width: 70%;
}
