.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
  box-shadow: 6px 10px #888888;
  line-height: 2rem;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: 
rgb(87, 81, 81);
}

.card-header {
  background-image: linear-gradient(
    to bottom,
    rgb(65, 4, 4),
    rgb(160, 19, 1),
    rgb(255, 0, 0)
  );
  display: flex;
  width: 100%;
  margin: 0px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: rgb(255, 214, 10);
  text-shadow: 2px 3px 3px black;
}

.markdownContent {
  display: flex;
  color: rgb(6, 159, 248);
  width: 75%;
  font-size: 19px;
  line-height: 1.5;
  margin: 1.8rem auto 12px auto;
}

.emphasis {
  color: rgb(243, 175, 28);
  font-size: 22px;
  font-style: italic;
}

.secondEmphasis {
  color: rgb(47, 185, 20);
  font-size: 21px;
  font-style: italic;
}

.markdownContentCode {
  width: 75%;
  margin: 1.8rem auto 12px auto;
  color: rgb(6, 159, 248);
}

.code span, code, pre {
  color: gold !important;
  font-size: 16px;
}

@media only screen and (max-width: 464px) {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-bottom: 50px;
  }

  .list-items {
    width: 86%;
  }
  .card-code {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-bottom: 50px;
  }

  .list-code {
    margin-left: 2rem;
  }
}
