.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    height: 60px;
    margin-top: auto; /* Pushes footer to the bottom */
    margin-bottom: 0;
    color: white;
    background-color: #333;
    padding: 10px;
    max-height: 100vh;
}

@media only screen and (max-width: 390px) {
    .Footer {
        font-size: 22px; /* Smaller font for small screens */
        height: 80px; /* Adjusted height */
        margin-top: auto; /* Still pushes footer to the bottom */
        margin-bottom: 0;
    }
}