.Header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  width: 100%;
  align-items: center;
  background-color: rgb(8, 8, 103);
  height: 7.5rem;
  text-shadow: 10px 5px 0 black;
  color: rgb(255, 255, 255);
  font-size: 60px;
  padding-bottom: 1rem;
  z-index: 10;
}

@media only screen and (max-width: 390px) {
  .Header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    font-size: 3rem;
  }
}
