.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.siteInfo {
    margin: 20rem auto; /* Same as .header height */
    padding: 3rem;
    text-align: center;
    width: 50rem;
    color: white;
    font-size: 1.5rem;
    background-color: rgb(87, 81, 81);
    box-shadow: 0px 0px 5px 4px black;
}

.siteInfoContent {
    display: flex;
    width: 40rem;
    margin: 0 auto 2rem auto;
    
}

@media only screen and (max-width: 390px) {
    .siteInfo {
        width: 100%;
    }
    .siteInfoContent {
        width: 100%;
    }
}