.nav-css {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20rem;
    background-color: rgb(38, 38, 39);
    margin: 0;
    padding: 0;
    transition: width 0.3s, background-color 0.3s;
    overflow-y: auto; /* Enables vertical scrolling */
    z-index: 15;
}

.nav-css.collapsed {
    width: 50px;
    background-color: transparent;
    overflow: hidden;
}

.nav-css.collapsed .nav-link-wrapper,
.nav-css.collapsed .home-button {
    display: none; /* Hide the Home button and accordion items */
}

.toggleButton {
    background-color: transparent;
    color: rgb(9, 174, 230);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    margin-top: 27px;
    /* position: fixed; */
    z-index: 5;
}

.nav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.home-button {
    color: rgb(9, 174, 230);
    margin: 0 auto 1rem auto;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    border: 2px solid rgb(9, 174, 230);
    width: 4rem;
    border-radius: 1rem;
}

.accordion {
    --bs-accordion-bg: transparent; /* Set the accordion background to transparent */
    --bs-accordion-border-color: rgb(9, 174, 230); /* Remove border color */
}

.accordion-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(9, 174, 230); /* Add border around each button */
    color: rgb(9, 174, 230); /* Text color */
    text-align: center; /* Center-align text */
    font-size: 1rem; /* Adjust text size */
    background-color: transparent !important; /* Remove background */
    border-radius: 11px;
    width: 15rem
  }
  
  .accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: rgb(9, 174, 230) !important;
  }
  
  .accordion-item {
    margin-bottom: 10px; /* Add spacing between accordion items */
    border: none; /* Add a border to accordion items */
  }
  
  .accordion-body {
    color: rgb(9, 174, 230);
    border: none; /* Remove border */
    padding: 10px;
    font-size: 1rem;
    text-align: center;
  }
  
  .accordion-button::after {
    content: '\f107'; /* FontAwesome down arrow */
    font-family: "Font Awesome 5 Free"; /* Ensure FontAwesome is used */
    font-weight: 900; /* Use the bold variant */
    color: rgb(9, 174, 230); /* Arrow color */
    position: absolute; /* Position the arrow absolutely */
    right: 15px; /* Move the arrow to the right of the button */
    font-size: 0.8rem; /* Adjust arrow size */
    line-height: 1; /* Prevent line height issues */
  }