.nav-css {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 9rem;
    transform: translate(-50%);
    left: 50%;
}
.nav-button {
    text-decoration: none;
    display: flex;
    margin: 5px;
    border-top: 2px solid rgb(169, 30, 255);
    border-left: 2px solid rgb(169, 30, 255);
    border-right: 2px solid rgb(169, 30, 255);
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 8px;
    font-size: 2rem;
}

a {
    color: rgb(8, 179, 236);
}

a:hover {
    color: rgb(255, 55, 0);
}

a:active {
    color: blue;
}