.punctuationSymbol {
  color: rgb(255, 56, 209);
  font: italic 800 30px/1 sans-serif;
  margin: 0 5px;
}

code.codeSnip {
  color: rgb(255, 56, 209);
  font: normal 18px/1.2 monospace;
  padding: 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  text-align: center;
}

/* Nullify padding on span.codeSnip to prevent double-styling */
span.codeSnip {
  padding: 0 !important;
}

@media only screen and (max-width: 390px) {
  .markdownContent {
    width: 91% !important;
  }
  .example {
    margin-left: 25px;
  }
}
