.punctuationSymbol {
  color: rgb(255, 56, 209);
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  margin-left: 5px;
  margin-right: 5px;
}

code.codeSnip {
  font-size: 18px;
  color: rgb(255, 56, 209);
  padding: 2px 4px;
  line-height: 1.2;
  border-radius: 3px;
  text-align: center;
}

/* Nullify padding on span.codeSnip to prevent double-styling */
span.codeSnip {
  padding: 0 !important;
}

@media only screen and (max-width: 390px) {
  .markdownContent {
    width: 91% !important;
  }
  .example {
    margin-left: 25px;
  }
}