.markdownContentCode {
  width: 75%;
  margin: 0 auto;
  color: rgb(6, 159, 248);
  text-shadow: 1px 2px 1px black;
  line-height: 1.5;
  font-size: 20px;
}

.markdownContentCode ul {
  margin-top: 0;
  padding-left: 3rem;
}

.markdownContentCode p {
  margin-bottom: 1rem;
}

.markdownContentCode li {
  margin-bottom: 1rem;
}

.markdownContentCode div {
  border-radius: 0.3em;
  padding: 17px !important; /* Set consistent padding */
}

@media only screen and (max-width: 390px) {
  .card-header {
    font-size: 36px;
  }
}
