body {
    background-image: linear-gradient(to bottom, rgb(31, 31, 31) 6%, rgb(115, 115, 115)135%, rgb(151, 150, 150));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
