body {
    background-image: linear-gradient(to bottom, rgb(31, 21, 2) 26%, rgb(243, 159, 3) 54%, rgb(45, 28, 1) 90%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
